/*categoria: #2be6ff preço: #2be6ff*/

:root {
    --roxo-escuro: #2E245E;
    --roxo-claro: #37268C; 
    --cinza-escuro: #333;
    --cinza-claro: #bebebe;
    --branco-escuro: #F5F5F5;
}

* {
    font-family: Montserrat !important;
    line-height: 1.3em;
}

body {
	color: var(--cinza-escuro);
    background: linear-gradient(255deg, rgb(13 38 52) 0%, rgba(0,0,0,1) 100%);
    width: 100%;
}

header {
    display: flex;
    border-bottom: 1px solid rgb(43, 43, 43);
    padding-block: 20px 15px;
}

header .container nav {
    box-sizing: border-box;
    padding: 15px 10px;   
}

.banner {
    align-items: center;
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 10px;
    box-sizing: border-box;
    color: white;
    display: flex;
    margin: 0 auto;
    height: 300px;
    justify-content: space-between;
    margin-top: 50px;
    max-width: 1200px;
    width: 100%;
}

.banner .texto {
    padding-inline: 20px;
    width: 600px;
}

.banner h1 {
    font-size: 30px;
    margin-bottom: 20px;
}

.texto-degrade {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    background-image: linear-gradient(130deg, #e7e7e7 0%, #392bff 52%, #2be6ff 90%); 
}

.banner h1, .banner p {
    line-height: 1.3em;
}

.banner p {
    margin-bottom: 20px;
}

.botao-wrapper {
    height: fit-content;
    width: fit-content;
}

.banner button {
    background: linear-gradient(90deg, rgb(78, 78, 78) 0%, rgb(43, 43, 43) 100%);
    border: none;
    border-radius: 5px;
    cursor: initial;
    color: white;
    font-size: 16px;
    font-weight: bold;
    height: fit-content;
    text-transform: uppercase;
    padding: 10px 20px;
}

.banner img {
    max-width: 350px;
    width: 100%;
}

h1, h2, h3, h4 {
    font-weight: bold;
}

.container {
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1200px;
    padding-inline: 20px;
    width: 100%;
}

.logo-menu, .logo-wrapper {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.logo-wrapper img {
    padding-right: 10px;
}

.logo, .logo-menu a {
    color: white;
    font-size: 28px;
    font-weight: bold;
}

.hamburguer-menu {
    align-items: center;
    cursor: pointer;
    display: none;
    flex-direction: column;
    height: 50px;
    justify-content: center;
    position: relative;
    row-gap: 6px;
    width: 50px;
}

.traco {
    background-color: var(--branco-escuro);
    border-radius: 10px;
    display: flex;
    height: 8px;
    transition: 200ms;
    width: 80%;
}

.rotacionar .traco{
    position: absolute;
    transform: rotate(-40deg);
}

.rotacionar .traco:first-child {
    position: absolute;
    transform: rotate(40deg);
}

.links {
    align-items: center;
    display: flex;
    height: 100%;
}

.links>li {
    position: relative;
    width: 100%;
}

.links button {
    background-color: transparent;
    border: none;
    border-radius: 10px;
    color: var(--branco-escuro);
    font-size: 16px;
    padding: 5px 10px;
}

.links>li:first-child button:hover, .links .dropdown-ativo {
    background-color: var(--branco-escuro);
    border-radius: 10px;
    border: 0;
    color: var(--cinza-escuro);
    font-weight: bold;
}

.links .dropdown-ativo {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding: 5px 10px;
}

.links-subcategorias {
    background-image: linear-gradient(130deg, #8cc9fc 0%, #2a8bc4 52%, #29b9cc 90%); 
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    height: fit-content;
    position: absolute;
    width: 100%;
    z-index: 1;
}

.links-subcategorias button {
    border-radius: 0;
    color: rgb(43, 43, 43);
    display: block;
    font-size: 13px;
    font-weight: bold;
    width: 100%;
}

.links li:hover .links-subcategorias {
    display: block;
}

.pagina-atual {
    font-weight: bold;
}

main.container {
    padding-block: 40px 100px;
    column-gap: 30px;
}

.vitrine {
    display: flex;
    gap: 30px 10px;
    width: 790px;
    overflow: auto;
}

.vitrine, aside {
    padding-block: 20px;
}

.vitrine::-webkit-scrollbar {
    width: 10px;
}

.vitrine::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 5px;
}

.vitrine::-webkit-scrollbar-track {
    background-color: rgb(13 38 52);
    border-radius: 5px;
}

.vitrine>li, .botao-wrapper {
    background-image: linear-gradient(130deg, #e7e7e7 0%, #392bff 52%, #2be6ff 90%); 
    border-radius: 5px;
    padding: 2px;
    transition: 500ms;
}

.vitrine>li {
    height: 420px;
}

.produto {
    border-radius: 5px;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: flex;
    height: fit-content;
    padding-inline: 10px;
    width: 250px;
}

.vitrine .produto {
    background: linear-gradient(90deg, rgb(78, 78, 78) 0%, rgb(43, 43, 43) 100%);
    flex-direction: column;
    height: 420px;
    padding-block: 10px;
}

.vitrine li:hover {
    background-image: linear-gradient(130deg, #392bff 0%, #2be6ff 52%,  #e7e7e7 90%); 
    transform: scale(1.05);
}

.vitrine .div-imagem {
    background-color: white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 90%;
    height: fit-content;
}

.div-imagem img {
    width: 100px;
}

.vitrine .produto figcaption {
    row-gap: 25px;
}

.produto figcaption {
    display: flex;
    flex-direction: column;
    padding: 15px 10px;
}

.nome-produto {
    align-items: center;
    color: white;
    display: flex;
    font-size: 14px;
    font-weight: 500;
    height: 30px;
}

button {
    cursor: pointer;
}

.vitrine .produto button {
    background-color: #2be6ff;
    color: rgb(43, 43, 43);
}

.produto button {
    border: none;
    border-bottom: 2px solid transparent;
    box-sizing: border-box;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    text-align: center;
    padding: 5px;
    width: 100%;
    transition: 200ms;
}

.vitrine .produto button:hover {
    background-color: white !important;
    color: rgb(12, 11, 19);
}

.lista-categorias {
    display: flex;
    column-gap: 10px;
}

.categoria {
    color: rgb(43, 43, 43);
    font-size: 10px;
    font-weight: bold;
    padding: 5px 7px;
    text-transform: uppercase;
    width: fit-content;
}

.produto .descricao {
    display: -webkit-box;
    max-width: 215px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.preco {
    display: block;
    color: #6dc4f7;
    font-weight: bold;
}

.categoria, .vitrine .produto button {
    background-color: #6dc4f7;   
}

.descricao, .preco {
    font-size: 14px;
}

form {
    column-gap: 5px;
    display: flex;
    padding-bottom: 20px;
}

input[type=search] {
    background-color: white;
    border: 2px solid transparent;
    font-size: 14px;
    flex-grow: 1;
}

input[type=search]:focus {
    border: 2px solid var(--cinza-escuro);
    outline: none;
}

input::placeholder {
    color: gray
}

.b-pesquisar {
    align-items: center;
    background-color: #392bff;
    border: none;
    color: white;
    display: flex;
    font-weight: 500;
    transition: 200ms;
}

.b-pesquisar:hover {
    background-color: #29b9cc;
}

input[type=search], .b-pesquisar {
    border-radius: 5px;
    height: 40px;
    padding: 10px;
}

.carrinho {
    width: 300px;
}

.carrinho h2 {
    background-color: #FA8BFF;
    background-image: linear-gradient(130deg, #1c2970 0%, #392bff 52%, #29c6db 90%);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    color: var(--branco-escuro);
    text-align: center;
    padding: 10px;
}

.carrinho-vazio {
    align-items: center;
    display: flex;
    background-color: var(--branco-escuro);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    flex-direction: column;
    height: 330px;
    justify-content: center;
}

.hidden {
    display: none;
}

.carrinho-vazio p {
    font-size: 14px;
}

.carrinho-vazio h3 {
    margin-bottom: 5px;
    font-size: 20px;
}

.carrinho-adicionados {
    background-color: white;
    height: 250px;
    overflow: auto;
}

.carrinho-adicionados::-webkit-scrollbar {
    width: 8px;
}

.carrinho-adicionados::-webkit-scrollbar-thumb {
    background-color: rgb(158, 158, 158);
    border-radius: 10px;
}

.carrinho-adicionados::-webkit-scrollbar-track {
    background-color: rgb(202, 202, 202);
}

.carrinho-adicionados .produto {
    background-color: white;
    border-bottom: 1px solid var(--cinza-claro);
    color: rgb(43, 43, 43);
    display: flex;
    padding: 15px 5px;
    width: 100%;
}

.carrinho-adicionados figcaption {
    padding-block: 0;
    row-gap: 6px;
}

.carrinho-adicionados .nome-produto {
    font-weight: bold;
}

.carrinho-adicionados .produto .preco {
    font-weight: 600;
}

.carrinho-adicionados .nome-produto, .preco {
    color: inherit;
}

.carrinho-adicionados .div-imagem {
    align-items: center;
    display: flex;
    background-color: white;
    padding: 10px;
}

.carrinho-adicionados img {
    width: 50px;
}

.carrinho-adicionados h4 {
    font-size: 14px;
}

.b-remover, .b-diminuir, .b-aumentar {
    background: rgb(44, 44, 44);
    color: white;
}

.detalhes-compra {
    background-image: linear-gradient(130deg, rgb(32, 166, 184) 0%, rgb(16, 35, 88) 90%);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-sizing: border-box;
    color: var(--branco-escuro);
    display: flex;
    flex-direction: column;
    padding: 30px 10px;
    row-gap: 20px;
}

.detalhes-compra dl {
    display: flex;
    justify-content: space-between;
}

.detalhes-compra dt {
    font-weight: bold;
}

.detalhes-compra dd {
    font-size: 14px;
}

.container-quantidade {
    align-items: center;
    display: flex;
    height: fit-content;
    column-gap: 5px;
    width: fit-content;
}

.container-quantidade input {
    text-align: center;
}

.container-quantidade .b-aumentar, .container-quantidade .b-diminuir {
    border-radius: 2px;
    text-align: center;
    padding: 0;
}

.container-quantidade .b-aumentar, .container-quantidade .b-diminuir, .container-quantidade input {
    box-sizing: border-box;
    height: 100%;
    width: 30px;
}

.carrinho-adicionados button:hover {
    color: var(--branco-escuro);
    background-color: var(--roxo-claro);
}

footer {
    border-top: 1px solid rgb(43, 43, 43);
    box-sizing: border-box;
    color: white;
    font-size: 16px;
    height: fit-content;
    justify-content: center;
    padding: 50px 20px 30px;
}

.footer-wrapper {
    align-items: center;
    flex-direction: column;
    max-width: 1000px;
    row-gap: 30px;
}

.quem-somos {
    width: 100%;
    padding-bottom: 40px;
}

.quem-somos h2 {
    font-size: 20px;
    margin-bottom: 20px;
}

.quem-somos p, .quem-somos h2 {
    text-align: center;
}

footer h3 {
    color: white;
    font-size: 18px;
    margin-bottom: 10px;
}

footer, footer div, .redes-sociais, .pagamento {
    display: flex;
}

footer, footer div {
    column-gap: 80px;
}

footer div {
    justify-content: space-around;
    width: 100%;
}

.categoria-footer {
    background-color: transparent;
    border: none;
    color: #29b9cc;
    font-size: 16px;
    transition: 300ms;
}

.categoria-footer:hover {
    color: white;
}

.redes-sociais {
    column-gap: 10px;
}

.redes-sociais img {
    transition: 300ms;
}

.redes-sociais img:hover {
    opacity: 50%;
}

.pagamento {
    gap: 5px;
    flex-wrap: wrap;
    max-width: 150px;
    width: 100%;
}

.pagamento img {
    width: 40px;
}

footer small {
    padding-top: 30px;
    text-align: center;
}


@media (max-width: 1215px) {
    .banner {
        justify-content: center;
        padding-inline: 20px;
    }
    main.container {
        justify-content: center;
    }
    .vitrine {
        width: 600px;
    }
}

@media (max-width: 917px) {
    main.container {
        justify-content: center;
    }

    main.container {
        max-width: 500px;
    }

}

@media (max-width: 933px) {
    main.container {
        flex-direction: column;
    }

    main.container {
        max-width: fit-content;
        row-gap: 20px;
    }

    .carrinho {
        width: initial;
    }

    .carrinho-adicionados {
        height: 150px;
    }

    .footer-wrapper {
        max-width: 600px;
    }

    .footer-wrapper div {
        flex-wrap: wrap;
        row-gap: 20px;
    }

    .footer-wrapper>div>section, .footer-wrapper nav {
        max-width: 200px;
        width: 100%;
    }
}

@media (max-width: 800px) {
    .banner img {
        display: none;
    }
}

@media (max-width: 680px) {
    .vitrine {
        width: 100%;
    }
    
    .hamburguer-menu {
        display: flex;
    }

    .logo-menu {
        padding-inline: 20px;
    }

    header .container nav {
        border-top: 1px solid rgb(43, 43, 43);
        display: none;
        padding-block: 15px;
    }

    .links, .links li, .links button {
        width: 100%;
    }

    .logo-menu, .logo-wrapper, .links {
        flex-direction: row;
    }

    header {
        padding: 5px 0;
    }

    header .container {
        padding: 0;
    }

    .links {
        display: flex;
    }

    header div {
        flex-direction: column;
        row-gap: 10px;
    }

    input[type=search] {
        width: 100%;
    }
}

@media (max-width: 535px) {
    .footer-wrapper>div>section, .footer-wrapper nav {
        max-width: 150px;
    }
}

@media (max-width: 450px) {
    .banner {
        display: none;
    }

    header {
        padding-bottom: 0;
    }

    header .container nav {
        background-color: rgb(7, 20, 27);
        padding: 0;
    }

    .links {
        flex-direction: column;
        padding: 0;
    }

    .links-subcategorias, .links .dropdown-ativo, .links button, .links>li:first-child button:hover {
        border-radius: 0;
    }

    .links-subcategorias {
        background-image: linear-gradient(255deg, rgb(15, 42, 56) 0%, rgb(17, 15, 27) 100%);
    }

    .links-subcategorias {
        box-shadow: 0 15px 20px -15px rgb(12, 11, 19);
    }

    .links-subcategorias button {
        color: white;
    }
}