:root {
    --roxo-escuro: #2E245E;
    --roxo-claro: #37268C; 
    --cinza-escuro: #333;
    --cinza-claro: #bebebe;
    --branco-escuro: #F5F5F5;
}

* {
    font-family: Montserrat !important;
    line-height: 1.3em;
}

body {
	color: var(--cinza-escuro);
    background: linear-gradient(90deg, rgb(39, 39, 39) 0%, rgba(0,0,0,1) 100%);
    width: 100%;
}

header {
    display: flex;
    padding-block: 40px 15px;
}

.banner {
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
    height: 250px;
    margin-top: 30px;
    width: 1200px;
}

h1, h2, h3, h4 {
    font-weight: bold;
}

.container {
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1200px;
    padding-inline: 20px;
    width: 100%;
}

.logo-menu {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo {
    color: white;
    font-size: 28px;
    font-weight: bold;
}

.hamburguer-menu {
    align-items: center;
    cursor: pointer;
    display: none;
    flex-direction: column;
    height: 50px;
    justify-content: center;
    position: relative;
    row-gap: 6px;
    width: 50px;
}

.traco {
    background-color: var(--branco-escuro);
    border-radius: 10px;
    display: flex;
    height: 8px;
    transition: 200ms;
    width: 80%;
}

.rotacionar .traco{
    position: absolute;
    transform: rotate(-30deg);
}

.rotacionar .traco:first-child {
    position: absolute;
    transform: rotate(30deg);
}

.links {
    align-items: center;
    display: flex;
    height: 100%;
}

.links>li {
    position: relative;
    width: 100%;
}

.links button {
    background-color: transparent;
    border: none;
    border-radius: 10px;
    color: var(--branco-escuro);
    font-size: 16px;
    padding: 5px 10px;
}

.links li:not(:last-child) button {
    border-right: 1px solid white;
    border-radius: 0;
}

.links>li:first-child button:hover, .links .dropdown-ativo {
    background-color: var(--branco-escuro);
    border-radius: 10px;
    color: var(--cinza-escuro);
}

.links .dropdown-ativo {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding: 5px 10px;
}

.links-subcategorias {
    background-color: var(--roxo-claro);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    height: fit-content;
    position: absolute;
    width: 100%;
    z-index: 1;
}

.links-subcategorias button {
    border-radius: 0;
    color: var(--branco-escuro);
    display: block;
    font-size: 12px;
    width: 100%;
    height: 30px;
}

.links li:hover .links-subcategorias {
    display: block;
}

.pagina-atual {
    font-weight: bold;
}

main.container {
    padding-block: 40px 20px;
    column-gap: 30px;
}

/*background-image: radial-gradient(left at 0% 0%, #794fa9 0, #533a85 25%, #2e245e 50%, #0d0f39 75%, #00001b 100%);*/
.vitrine {
    display: flex;
    flex-wrap: wrap;
    gap: 30px 15px;
    height: 900px;
    overflow: auto;
}

.vitrine::-webkit-scrollbar {
    width: 10px;
}

.vitrine::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 5px;
}

.vitrine>li {
    background-color: #FA8BFF;
    background-image: linear-gradient(130deg, #e7e7e7 0%, #392bff 52%, #2be6ff 90%); 
    border-radius: 5px;
    padding: 2px;
}

.produto {
    background: linear-gradient(90deg, rgb(78, 78, 78) 0%, rgb(43, 43, 43) 100%);
    border-radius: 5px;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: flex;
    height: fit-content;
    padding-inline: 10px;
    width: 250px;
}

.vitrine .produto {
    flex-direction: column;
    min-height: fit-content;
    height: 100%;
    padding-block: 10px;
}

.vitrine .produto:hover {
    border-color: var(--roxo-claro);
}

.vitrine .div-imagem {
    background-color: white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 90%;
    height: fit-content;
}

.div-imagem img {
    width: 100px;
}

.produto figcaption {
    display: flex;
    flex-direction: column;
    padding: 15px 10px;
    row-gap: 25px;
}

.nome-produto {
    color: white;
    font-weight: 500;
}

button {
    cursor: pointer;
}

.produto button {
    background-color: #2be6ff;
    border: none;
    border-bottom: 2px solid transparent;
    box-sizing: border-box;
    border-radius: 5px;
    color: rgb(43, 43, 43);
    cursor: pointer;
    font-weight: 600;
    text-align: center;
    padding: 5px;
    width: 100%;
    transition: 200ms;
}

.produto button:hover {
    border-bottom: 2px solid var(--roxo-claro);
    color: var(--roxo-claro);
}

.lista-categorias {
    display: flex;
    column-gap: 10px;
}

.categoria {
    background-color: #2be6ff;   
    color: rgb(43, 43, 43);
    font-size: 10px;
    font-weight: 600;
    padding: 5px 7px;
    text-transform: uppercase;
    width: fit-content;
}

.descricao {
    display: -webkit-box;
    max-width: 215px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.preco {
    display: block;
    color: #2be6ff;
    font-weight: bold;
}

.descricao, .preco {
    font-size: 14px;
}

form {
    column-gap: 5px;
    display: flex;
    padding-bottom: 20px;
}

input[type=search] {
    background-color: white;
    border: 2px solid transparent;
    flex-grow: 1;
}

input[type=search]:focus {
    border: 2px solid var(--cinza-escuro);
    outline: none;
}

input::placeholder {
    color: gray
}

.b-pesquisar {
    background-color: var(--roxo-escuro);
    border: none;
    box-shadow: 0px 5px 20px 0px #8b8b8b73;
    color: var(--branco-escuro);
    transition: 200ms;
}

.b-pesquisar:hover {
    background-color: var(--roxo-claro);
}

input[type=search], .b-pesquisar {
    border-radius: 5px;
    height: 40px;
    padding: 10px;
}

.carrinho {
    width: 300px;
}

.carrinho h2 {
    background-color: #FA8BFF;
    background-image: linear-gradient(130deg, #e7e7e7 0%, #392bff 52%, #2be6ff 90%);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    color: var(--branco-escuro);
    text-align: center;
    padding: 10px;
}

.carrinho-vazio {
    align-items: center;
    display: flex;
    background-color: var(--branco-escuro);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    flex-direction: column;
    height: 330px;
    justify-content: center;
}

.hidden {
    display: none;
}

.carrinho-vazio p {
    font-size: 14px;
}

.carrinho-vazio h3 {
    margin-bottom: 5px;
    font-size: 20px;
}

.carrinho-adicionados {
    background-color: var(--branco-escuro);
    height: 250px;
    overflow: auto;
}

.carrinho-adicionados::-webkit-scrollbar {
    width: 5px;
}

.carrinho-adicionados::-webkit-scrollbar-thumb {
    background-color: var(--cinza-claro);
    border-radius: 10px;
}

.carrinho-adicionados .produto {
    background-color: var(--branco-escuro);
    border-bottom: 1px solid var(--cinza-claro);
    display: flex;
    padding: 15px 5px;
    width: 100%;
}

.carrinho-adicionados figcaption {
    padding-block: 0;
}

.carrinho-adicionados .div-imagem {
    align-items: center;
    display: flex;
    background-color: white;
    padding: 10px;
}

.carrinho-adicionados img {
    width: 50px;
}

.carrinho-adicionados h4 {
    font-size: 14px;
}

.detalhes-compra {
    background-color: var(--cinza-escuro);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-sizing: border-box;
    color: var(--branco-escuro);
    display: flex;
    flex-direction: column;
    padding: 30px 10px;
    row-gap: 20px;
}

.detalhes-compra dl {
    display: flex;
    justify-content: space-between;
}

.detalhes-compra dt {
    font-weight: bold;
}

.detalhes-compra dd {
    font-size: 14px;
}

.container-quantidade input {
    text-align: center;
    width: 20px;
}

.container-quantidade .b-aumentar, .container-quantidade .b-diminuir {
    background-color: var(--roxo-escuro);
    border-radius: 2px;
    color: var(--branco-escuro);
    text-align: center;
    width: 20px;
}

.container-quantidade button:hover {
    color: var(--branco-escuro);
    background-color: var(--roxo-claro);
}

footer {
    background-color: var(--cinza-escuro);
    height: 200px;
    width: 100%;
}


@media (max-width: 1215px) {
    main.container {
        justify-content: center;
    }
    .vitrine {
        width: 600px;
    }
}

@media (max-width: 917px) {
    main.container {
        justify-content: center;
    }

    main.container {
        max-width: 500px;
    }
}

@media (max-width: 933px) {
    main.container {
        flex-direction: column;
    }

    main.container {
        max-width: fit-content;
        row-gap: 20px;
    }

    .carrinho {
        width: initial;
    }

    .carrinho-adicionados {
        height: 150px;
    }
}


@media (max-width: 605px) {
    main.container {
        margin: 0 auto;
        justify-content: center;
    }
    .vitrine {
        width: 100%;
        justify-content: center;
    }
}

@media (max-width: 585px) {
    .hamburguer-menu {
        display: flex;
    }

    .logo {
        padding-left: 10px;
    }

    nav {
        background-color: var(--cinza-escuro);
        display: none;
    }

    .links {
        padding-block: 15px;
    }

    .links, .links li, .links button {
        width: 100%;
    }

    .links button {
        color: var(--branco-escuro);
        text-align: center;
    }

    .links>li:first-child button:hover, .links .dropdown-ativo, .links-subcategorias {
        border-radius: 0;
    }

    header, header .container {
        padding: 0;
    }

    header .container {
        row-gap: 0;
    }

    header div, .links {
        flex-direction: column;
        row-gap: 10px;
    }

    input[type=search] {
        width: 100%;
    }

}